.fetch-img-size {
    height: 36px;
    margin-left: 2px;
}
.timings-design {
    margin-left: 331px;
    margin-top: -25px;
}

.theater-size {
    margin-left: 69px;
}
.button-signuplogin {
    margin-left: 287px;
    margin-top: -34px;
}
body {
    padding-top: 50px;
}
#container {
    padding: 39px 0px;
}
.thumb-big
{
    height: 199px;
}
.movies-list
{
    text-align: center;
}
.availability
{
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    color: black;
}
.bookThumb
{
    height: 149px;
    padding-right: 21px;
}
.button-show {
    margin-bottom: 24px;
}
.seatname-color {
    color :skyblue;
}