<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema Talkie Admin</title>
</head>
<body>

<div>
    <div>Add a Movie</div>
    <div>
        Name : <input type="text" ng-model="movie.name">
        Duration : <input type="text" ng-model="movie.duration">
        Image Path: <input type="text" ng-model="movie.imagePath">
    </div>
    <button type="button" ng-click="addMovie()">Add Movie</button>
</div>

<div>
    <div>Add a Movie</div>
    <div>
        Name : <input type="text" ng-model="theatre.name">
        City : <input type="text" ng-model="theatre.address.city">
        State: <input type="text" ng-model="theatre.address.state">
    </div>
    <button type="button" ng-click="addTheatre()">Add Theatre</button>
</div>

<div>
    <div>Add a movie to theatre</div>
    <div>
        <label>Movie:
            <select ng-model="movie"
                    ng-options="movie.name for movie in movies">
            </select>
        </label>
        <label>Theatre :
            <select ng-model="theatre"
                    ng-options="theatre.name for theatre in theatres">
            </select>
        </label>
    </div>
    <div>
        Selected shows:

        <div ng-repeat="show in showTimes">
            {{show| date:'M/d/yyyy HH:mm'}}
        </div>
    </div>
    <div>
        Add shows<br>
        Time :<input ng-model="time" datetime-picker date-format="yyyy-MM-dd HH:mm:ss"/>
        <button type="button" ng-click="addShowTime(time)">Add show</button>
    </div>


    <button type="button" ng-click="addMovieToTheatre(movie,theatre)">Add movie to theatre</button>
</div>


<div>
    Cancel Unpaid Bookings
    <br>
    <label>Theatre :
        <select ng-model="theatre"
                ng-options="theatre.name for theatre in theatres" ng-change="fetchShowsForTheatre(theatre)">
        </select>
    </label>
    <label>
        Shows:
        <select ng-model="show"
                ng-options="show.date|date :'M/d/yyyy HH:mm'   for show in theatreShowTimes">
        </select>
    </label>

    <button type="button" ng-click="cancelBookings(show)">Cancel</button>

</div>

<div>
    Collect money on COT
    <br>
    Booking Id: <input type="text" ng-model="bookingId">
    <button type="button" ng-click="payForBooking(bookingId)">Collect</button>

</div>


<div id="success" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="span12 text-center"><a href="#">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
                </div>
                <div class="span12 text-center">
                    <p style="color:#3fa7ba">Yayy</p>
                </div>
                <div class="span12 text-center">
                    <p>Operation was successful</p>
                </div>
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="failure" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="span12 text-center"><a href="#">
                    <span class="glyphicon  glyphicon-alert"></span>
                </a>
                </div>
                <div class="span12 text-center">
                    <p style="color:#c9302c">Alert</p>
                </div>
                <div class="span12 text-center">
                    <p id="reason"></p>
                </div>
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>