<div class="navbar navbar-inverse navbar-fixed-top ng-scope" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/movies">Cinema Takies</a>
        </div>
        <!--/.navbar-collapse -->p
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active:isActive('/movies')}" >
                    <a href="#/movies">Movies</a>
                </li>
                <li data-ng-class="{active:isActive('/bookinghistory')}">
                    <a href="#/bookinghistory">History</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class ="container">
<table class="table table-condensed ng-scope">
    <thead>
    <tr>
        <th>Movie Name</th>
        <th>Theatre</th>
        <th>Time</th>
        <th>Date</th>
        <th>Duration</th>
        <th>No of seats</th>
    </tr>
    </thead>
    <tbody>
    <!-- ngRepeat: book in bookings -->
    <tr  data-ng-repeat="history in bookingHistory track by $index">
        <td class="ng-binding">{{history.movie.name}}</td>
        <td class="ng-binding">{{history.theatre.name}}</td>
        <td class="ng-binding">{{history.showTime.date | date:'M/d/yyyy'}}</td>
        <td class="ng-binding">{{history.showTime.date | date:'HH:mm'}}</td>
        <td class="ng-binding">{{history.movie.duration}} minute</td>
        <td class="ng-binding">5</td>
    </tr>
    </tbody>
</table>
</div>