<div class="navbar navbar-inverse navbar-fixed-top ng-scope" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/movies">Cinema Takies</a>
        </div>
        <!--/.navbar-collapse -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active:isActive('/movies')}" class="active">
                    <a href="#">Movies</a>
                </li>
                <li data-ng-class="{active:isActive('/bookinghistory')}">
                    <a href="#/bookinghistory">History</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class = "container">
<h2>Book Movie Tickets</h2>
<input type="text" placeholder="Search Movies" class="form-control" data-ng-model="search">

<!--<div class="col-sm-6 col-md-6 col-xs-6 well" ng-repeat="movies in movieDetails">
    <a href="">
        <div class="thumbnail" style="border:none; background:white; height:210px;"
             ng-click="fetchMovieDetails(movies.id)">
            <div class="col-sm-6 col-md-6 col-xs-6">
                <img src="images/movies-5.png" style="height:200px; margin-left:-15px;"/>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6">
                <h3>{{movies.name}}</h3>
                <h4>{{movies.rating}} <i class="glyphicon glyphicon-star"></i></h4>
                <h4>{{movies.type}}</h4>
                <h4>{{movies.duration}} minutes</h4>
            </div>
        </div>
    </a>
</div>-->

<div class="">
    <!-- Example row of columns -->
    <div class="row movies-list">
        <div class="col-md-4" data-ng-repeat="movie in movieDetails | orderBy:'name':false | filter:search">
            <a href="" ng-click="fetchMovieDetails(movie.id,movie.name,movie.rating)"><h2>{{movie.name | uppercase}}</h2>
                <p>
                    <img data-ng-src="images/{{movie.img}}" class="thumb-big">
                </p>
                <h4>{{movie.rating}} <i class="glyphicon glyphicon-star"></i></h4>
                <h4>{{movie.type}}</h4>
                <h4>{{movie.duration}} minutes</h4>
            </a>
        </div>
    </div>
</div>
</div>