<!DOCTYPE html>

<div class="container">
    <p>
        <span class="label label-warning availability ng-binding">{{getMovieName}}</span>
        <a class="btn btn-primary ">{{getShowTimings | date:'M/d/yyyy HH:mm'}}</a>
        <a  class="btn btn-success " role="button" >{{getTheatreName}}</a>
        <a  class="btn btn-info " role="button" >Seats({{seatsSeletion}})</a>
    </p>
    <h4>Payment options</h4>

    <!--<div>
        Online Banking
        <div>
            CardNumber:<input type="text" ng-model="card">
            <button type="button" ng-click="payViaOnlineBanking(card)">Pay</button>
        </div>
    </div>
    <div>
        Pay via cash on theatre
        <button type="button" ng-click="payViaCOT()">Pay</button>
    </div>-->

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Online Banking
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="cardNumber">
                                    CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" ng-model="card" placeholder="Valid Card Number"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br/>
                <button class="btn btn-success btn-lg btn-block" role="button" ng-click="payViaOnlineBanking(card)">Pay</button>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Cash on Theatre
                        </h3>
                    </div>
                </div>
                <br/>
                <button class="btn btn-success btn-lg btn-block" role="button" ng-click="payViaCOT()">Pay</button>
            </div>
        </div>
    </div>

</div>


<div id="success" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="span12 text-center"><a href="#">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
                </div>
                <div class="span12 text-center">
                    <p style="color:#3fa7ba">Yayy</p>
                </div>
                <div class="span12 text-center">
                    <p>Booking successful</p>
                </div>
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="failure" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="span12 text-center"><a href="#">
                    <span class="glyphicon  glyphicon-alert"></span>
                </a>
                </div>
                <div class="span12 text-center">
                    <p style="color:#c9302c">Alert</p>
                </div>
                <div  class="span12 text-center">
                    <p id="reason">Sorry! Booking failed</p>
                </div>
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>