<!DOCTYPE html>
<div style="text-align: center;margin-bottom: 20px">
    <h3>Select Seats</h3>
</div>
<div class = "container">
    <p>
        <span class="label label-warning availability ng-binding">{{getMovieName}}</span>
        <a class="btn btn-primary ">{{getShowTimings | date:'M/d/yyyy HH:mm'}}</a>
        <a  class="btn btn-success " role="button" >{{getTheatreName}}</a>
    </p>
<div class="table-responsive">

    <table class="table">
        <tr ng-repeat="row in seats.layout.rows">
            <td ng-repeat="column in row.seats" style="align-items: center;">
                <div>
                    <a href="" ng-if="column.available && notBooked(column)" ng-click="selectSeat(column)">
                        <img class="media-object fetch-img-size" src="images/seat.png" alt="...">
                    </a>
                    <div ng-if="!notBooked(column)">
                        <img class="media-object fetch-img-size" src="images/seat2.png" alt="...">
                    </div>
                    <div ng-if="!column.available">
                        <img class="media-object fetch-img-size" src="images/1393-200.png" alt="...">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div>
    <button class="btn btn-default" type="button" ng-click="proceed()">Proceed</button>
</div>
</div>