<div class="container">
    <div class="row">
        <a ng-click="back()" class="btn btn-info button-show" href="javascript:"><i class ="glyphicon glyphicon-chevron-left"></i>{{getMovieName}}
            <span data-ng-repeat="i in getCount(getMovieRating) track by $index" class="glyphicon glyphicon-star"></span>
        </a>

        <div class="col-md-12 well" ng-repeat="shows in fetchingDetails">
            <div class="media-left">
                <a href="#">
                    <img class="media-object fetch-img-size" src="images/1393-200.png" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div class="row theater-size">
                    <h4 class="media-heading">{{shows.theatreName}}</h4>
                    <h4 class="media-heading">{{shows.theatreAddress}}</h4>
                </div>
                <div class="row timings-design">
                    <h4 class="media-heading" ng-repeat="time in shows.showTimes">
                        <div ng-click="fetchSeats(time,shows.theatreName )">
                            <a href="">{{time.date | date:'M/d/yyyy HH:mm'}}</a>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
