<div class="container">
  <h2>Sign Up</h2>
  <form class="form-horizontal" data-toggle="validator">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" ng-model = "signUpData.email" placeholder="Enter email" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" ng-model = "signUpData.password" placeholder="Enter your password" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" ng-model = "signUpData.C_pasword" placeholder=" Confirm password" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Address:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model= "signUpData.address" placeholder="Enter your address" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Mobile Number :</label>
      <div class="col-sm-5">
        <input type="number" class="form-control" ng-model = "signUpData.mobile_number" placeholder="Enter your Mobile Number" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type = "submit" class="btn btn-default" ng-click = "signUpButton()">Sign Up</button>
      </div>
      <div class="col-sm-offset-2 col-sm-10 button-signuplogin">
        <button type = "submit" class="btn btn-default" ui-sref = "login">Login</button>
      </div>
    </div>
  </form>
</div>


<div id="success" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="span12 text-center"><a href="#">
          <span class="glyphicon glyphicon-ok "></span>
        </a>
        </div>
        <div class="span12 text-center">
          <p style="color:#3fa7ba">Yayy</p>
        </div>
        <div class="span12 text-center">
          <p>Login was successful</p>
        </div>
        <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div id="failure" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="span12 text-center"><a href="#">
          <span class="glyphicon  glyphicon-alert"></span>
        </a>
        </div>
        <div class="span12 text-center">
          <p style="color:#c9302c">Alert</p>
        </div>
        <div  class="span12 text-center">
          <p id="reason"></p>
        </div>
        <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>